@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    /* Colors */
    /* --color-pr-25: rgba(250, 245, 245, 0.25);
    --color-pr-50: rgba(250, 245, 245, 0.5);
    --color-pr-100: #FAF5F5;
    --color-pr-200: #F2E6E6;
    --color-pr-300: #E5D7DD;
    --color-pr-400: #C2B6BB;
    --color-pr-500: #A81D1F;
    --color-pr-600: #837373;
    --color-pr-700: #524343;
    --color-pr-800: #170404; */

    --color-pr-100: rgb(242, 236, 236); /* lightest neutral tint */
    --color-pr-200: rgb(247, 233, 231); /* light surface */
    --color-pr-300: rgb(237, 212, 209); /* soft background hover */
    --color-pr-400: rgb(255, 82, 64);
    --color-pr-500: rgb(246, 32, 9);
    --color-pr-600: rgb(154, 20, 6);
    --color-pr-700: rgb(64, 6, 0);
    --color-pr-800: rgb(26, 16, 15);
    --color-pr-900: rgb(24, 10, 8);

    --color-card-100: rgb(250, 246, 246);
    --color-card-200: rgb(245, 237, 237);

    --color-sc-400: rgb(104, 153, 94);
    --color-sc-500: rgb(79, 116, 71);
    --color-sc-600: rgb(52, 77, 47);

    --color-brown-800: #451E0C;
    --color-brown-700: #532A18;
    --color-brown-600: #5F3522;
    --color-brown-500: #6D402D;
    --color-brown-400: #7A4C38;

    /* Icon colors */
    --color-green-100: rgb(246, 255, 247);
    --color-green-400: rgb(13, 198, 31);
    --color-blue-100: rgb(242, 247, 255);
    --color-blue-400: rgb(13, 126, 233);
    --color-aqua-100: rgb(241, 254, 255);
    --color-aqua-400: rgb(18, 205, 215);
    --color-orange-100: rgb(255, 249, 240);
    --color-orange-400: rgb(246, 150, 9);
    --color-tan-100: rgb(255, 247, 241);
    --color-tan-400: rgb(157, 93, 41);
    --color-disabled-400: rgb(201, 176,176);

    /* Breakpoints */
    /* Remove all default breakpoints */
    --breakpoint-*: initial;

    /* Define your custom breakpoints, in rem */
    --breakpoint-xs: 26.25rem; /* 420px */
    --breakpoint-sm: 40rem; /* 640px */
    --breakpoint-md: 48rem;    /* 768px */
    --breakpoint-lg: 64rem;    /* 1024px */
    --breakpoint-xl: 85rem;    /* 1360px */
    --breakpoint-2xl: 96rem;   /* 1536px */

    --container-sm: 31.25rem;
    --container-search-2-col: calc(2 * 18.125rem + 1 * 1rem); /* 2 x min carrd width + 1 x gap */
    --container-search-3-col: calc(3 * 18.125rem + 2 * 1rem);
    --container-search-4-col: calc(4 * 18.125rem + 3 * 1rem);
    --container-card-sm: 20rem;

    /* Shadows */   
    --shadow-b-neumorphic: 0 1px 0 0 rgba(255,255,255,0.4);
    --shadow-hr-neumorphic: 0 1px 0px 0 rgba(255,255,255,0);
    --shadow-img-lg: 0px 0px 56px 0px rgba(0,0,0,0.1);
    --shadow-cup-score: -4px 4px 0px 0px rgba(23,4,4,0.15);
    --shadow-breadcrumbs: 0px 0px 20px 2px rgba(0,0,0,0.05);

}


:root {
  --background: var(--color-pr-200);
  --foreground: var(--color-pr-800);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-pr-800);
    --foreground: var(--color-pr-100);
  }
}

@layer base {
    h1 {
      font-family: var(--font-teko), 'Courier New', Courier, monospace;
      @apply text-5xl dark:text-white font-medium;
    }
  
    h2 {
      font-family: var(--font-teko), 'Courier New', Courier, monospace;
      @apply text-4xl dark:text-white font-medium mb-2;
    }
  
    h3 {
      font-family: var(--font-teko), 'Courier New', Courier, monospace;
      @apply text-3xl dark:text-white font-medium mb-2;
    }
  
    p {
      font-family: var(--font-sofia-sans), sans-serif;
      @apply dark:text-white text-xl font-light mb-10;
    }
  
    a {
      font-family: var(--font-sofia-sans), sans-serif;
      @apply text-lg font-bold;
    }
  }

 @layer utilities {
    .section-layout {
        @apply mx-auto lg:max-w-[1400px] md:max-lg:max-w-172 xl:px-20 sm:px-6.5 px-4;
    }
    .hr-neu-shadow {
        @apply border-none h-0.5 opacity-60;
        background-color: var(--color-pr-200);
        box-shadow: var(--shadow-hr-neumorphic);
    }
    .tooltip-base {
        font-family: var(--font-sofia-sans), sans-serif;
        @apply bg-pr-700 text-white dark:bg-pr-100 dark:text-pr-900 shadow-md max-w-50 text-base px-4 pt-3 pb-4 z-500;
    }
    .tooltip-no-descritpion {
        font-family: var(--font-sofia-sans), sans-serif;
        @apply bg-pr-700 text-white dark:bg-pr-100 dark:text-pr-900 shadow-md max-w-50 text-base px-4 pt-3 pb-3 z-500;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    /* Fonts */
    .font-teko {
        font-family: var(--font-teko), sans-serif;
    }
    
    .font-sofia-sans {
        font-family: var(--font-sofia-sans), sans-serif;
    }
    
    .font-sofia-sans-condensed {
        font-family: var(--font-sofia-sans-condensed), sans-serif;
    }
}
  

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sofia-sans), Helvetica, sans-serif;
}
